<div class="container-fluid">
    <div class="vh-100 row justify-content-center text-center">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div>
                <h1 class="oxfordBlu-color">Pagina di dettaglio Evento</h1>
                <div *ngIf="event">
                    <h2>{{event.name | uppercase}}</h2>
                </div>
                <a routerLink="/" class="btn orangeWeb-bg-color text-white">Torna alla homepage!</a>
            </div>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div>
                <h1 class="oxfordBlu-color">Copia qui il tuo link!</h1>	
                <button class="btn orangeWeb-bg-color text-white" (click)="copyText()">Copia il link</button>
            </div>
        </div>
    </div>
</div>
