<div class="box row justify-content-center align-items-center">
    <div class="col-10 align-item-center my-3" *ngFor="let promoter of promoters">
        <div class="card">
            <h3 class="card-title mt-2">{{promoter.name}}</h3>
            <div class="d-flex justify-content-evenly card-body">
                <p class="card-text">ha venduto: {{promoter.ticketSold}} biglietti</p>
            </div>
            <hr>
            <div>
                <p class="card-subtitle text-muted mb-3">ultimo biglietto venduto: {{promoter.lastSale}}</p>
            </div>
        </div>
    </div>
</div>

<!-- <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div> -->